XML Data/DTD Exercises/Q2.DTD

<!-- In this question, you are to create a DTD for a different version of the data 
	set drawn from the Stanford course catalog. This version encodes the data using 
	ID and IDREF(S) attributes. The XML data is here. Write a DTD for the XML data set. 
-->

<!ELEMENT Course_Catalog (Department*)>
<!ELEMENT Department (Title, Course*, (Professor|Lecturer)*)>
<!ATTLIST Department Code ID #REQUIRED Chair IDREF #REQUIRED>
   
<!ELEMENT Title (#PCDATA)>   
<!ELEMENT Course (Title, Description?)>
<!ATTLIST Course Number ID #REQUIRED Prerequisites CDATA #IMPLIED Instructors CDATA #REQUIRED Enrollment CDATA #IMPLIED>
<!ELEMENT Description (#PCDATA|Courseref)*>
<!ELEMENT Courseref EMPTY>
<!ATTLIST Courseref Number IDREF #REQUIRED>
   
<!ELEMENT Lecturer (First_Name, Middle_Initial?, Last_Name)>
<!ATTLIST Lecturer InstrID ID #REQUIRED>
<!ELEMENT Professor (First_Name, Middle_Initial?, Last_Name)>
<!ATTLIST Professor InstrID ID #REQUIRED>
   
<!ELEMENT First_Name (#PCDATA)>
<!ELEMENT Middle_Initial (#PCDATA)>
<!ELEMENT Last_Name (#PCDATA)>